{% extends "app/base.html" %}
{% load static %}
{% block product-content %}
<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="{% url 'home' %}">Trang chủ</a>
                <span><i class='bx bxs-chevrons-right'></i></span>
                <a href="{% url 'products' %}">Tất cả sản phẩm</a>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-3 filter-col" id="filter-col">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-close">close</button>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Danh mục
                        </span>
                        <ul class="filter-list">
                            {% for category in categories %}
                            <li><a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-9 col-md-12">
                    <div class="box filter-toggle-box">
                        <button id="filter-toggle">Lọc</button>
                    </div>
                    <div class="box">
                        <div class="row" id="products">
                            {% for product in products %}
                            <div class="col-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
                                        <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="product-card-info">
                                        <div class="product-btn">
                                            <a href="{% url 'product_detail' product.slug %}" class="btn-flat btn-hover btn-shop-now">Mua ngay</a>
                                            <button data-product = {{product.id}} data-action = "add" class="btn-flat btn-hover btn-cart-add update-cart" >
                                                <i class='bx bxs-cart-add'></i>
                                            </button>
                                        </div>
                                        <div class="product-card-name">
                                            {{ product.name }}
                                        </div>
                                        <div class="product-card-price">
                                            <span><del>${{ product.original_price }}</del></span>
                                            <span class="curr-price">${{ product.selling_price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="box">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class='bx bxs-chevron-left'></i></a></li>
                        {% endif %}
                         {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li><a class="active">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class='bx bxs-chevron-right'></i></a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock product-content %}
