{% extends "app/base.html" %}
{% load static %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1 >Trang cá nhân</h1>
        </div>
        <div class="col-md-8">
            <form action="./functions/authcode.php" method="POST">
                    <label class="mb-0" for=""><b>Họ và tên</b></label>
                    <input class="form-control" required type="text" name="name" value="<?= $data['name']?>" ><br>
                    <label class="mb-0" for=""><b>Email</b></label>
                    <input class="form-control" required type="text" name="email" value="<?= $data['email']?>" ><br>
                    <label class="mb-0" for=""><b>Số điện thoại</b></label>
                    <input class="form-control" required type="text" name="phone" value="<?= $data['phone']?>"><br>
                    <label class="mb-0" for=""><b>Địa chỉ</b></label>
                    <input class="form-control" required type="text" name="address" value="<?= $data['address']?>" ><br>
                    <label class="mb-0" for=""><b>Mật khẩu</b></label>
                    <input class="form-control" type="password" name="password" ><br>
                    <label class="mb-0" for=""><b>Xác nhận mật khẩu</b></label>
                    <input class="form-control" type="password" name="cpassword"><br> 
                    <input type="hidden" name="update_user_btn" value="true">   
                    <button type="submit" class="btn btn-primary" >Lưu</button>
            </form>         
        </div>           
    </div>
</div>
{% endblock main-content %}